<!DOCTYPE html>
<html>
<head>
  <title><%= title %></title>
  <meta charset="utf-8">
</head>
<body>

  <h1><%= title %></h1>

    <p>Hai chiamato con metodo <%= method %></p>
    <% if (JSON.stringify(query) !=  '{}') { %>
    <p>Usando questa query: <%= query.pippo %></p>
    <% } %>

</body>
</html>