#navbar{
    background-color: lightgrey;
}

.menu{
    background-color: grey;
    /*display: flex;
    flex-direction: row;
    justify-content: space-between; */
}

.menu a, .menu input{
    margin: 5px;
    color: red;
}

a:hover, a:visited{
    color: #cc0066;
}

div:target {
    background-color: gold;
};

#page{
    float: none;
    height: 100%;
    margin: 3px;
    /*display: flex;
    flex-direction: row;*/
}

#content{
    /* display: flex; */
    /* flex-direction: column;*/ 
    /* justify-content: space-evenly;*/ 
    width: 70%;
    float: left;
}

#sidebar{
    width: 30%;
    float: left;
}

.row{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
}

.standard-border {
    border-radius: 15px;
    border: 1px solid gray;
    margin: 2.5%;
    padding: 2.5%;
}

.Heading{
    margin: 1.5%;
    padding: 1.5%;
}

.cardMain{
    margin: 2.8%;
    padding: 2.8%;
}

.cardMain > p::first-letter{
    font-size: 110%;
    color: red;
}

.sidebarPics{
    margin: 5%;
    max-width: 40%;
    height: 100px;
    object-fit: contain;
}

.parallax{
    background: url("https://scontent-mxp1-1.xx.fbcdn.net/v/t1.0-9/71313467_10157761342617533_970622846088773632_o.jpg?_nc_cat=105&ccb=1-3&_nc_sid=cdbe9c&_nc_ohc=kISyFng79R4AX-KZEVW&_nc_ht=scontent-mxp1-1.xx&oh=e66502e61680cc051b12aecc4480c2cd&oe=6081F888") no-repeat center center;
    background-attachment: fixed;
    background-size: cover;
    height: 100%;
}



@media (max-width: 770px) {
  .row{
      /*flex-wrap: wrap;*/
      display: block;
      /*flex: 100%;*/
  }

  #content, #sidebar{
    float: none;
      width: 100%;
  }
}
