#navbar{
    background-color: lightgrey;
}

.menu{
    background-color: grey;
    /*display: flex;
    flex-direction: row;
    justify-content: space-between; */
}

.menu a, .menu input{
    margin: 5px;
    color: red;
}

a:hover, a:visited{
    color: #cc0066;
}

div:target {
    background-color: gold;
};

#page{
    display: flex;
    flex-direction: row;
}

#content{
    /* display: flex; */
    /* flex-direction: column;*/ 
    /* justify-content: space-evenly;*/ 
    width: 70%;
    float: left;
}

#sidebar{
    width: 30%;
    float: left;
}

.row{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
}

.standard-border {
    border-radius: 15px;
    border: 1px solid gray;
    margin: 2.5%;
    padding: 2.5%;
}

.Heading{
    margin: 1.5%;
    padding: 1.5%;
}

.cardMain{
    margin: 2.8%;
    padding: 2.8%;
}

.cardMain > p::first-letter{
    font-size: 110%;
    color: red;
}

.sidebarPics{
    margin: 5%;
    max-width: 40%;
    height: 100px;
    object-fit: contain;
}


@media (max-width: 770px) {
  .row{
      /*flex-wrap: wrap;*/
      display: block;
      /*flex: 100%;*/
  }

  #content, #sidebar{
    float: none;
      width: 100%;
  }
}
