<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- The above 4 meta tags *must* come first in the head; any other head content must come *after* these tags -->

    <!-- Title -->
    <title>Museum</title>

    <!-- Favicon -->
    <link rel="icon" href="img/GAM-logo.png">

    <!-- Stylesheet -->
    <link rel="stylesheet" href="style.css">

</head>

<body>
    <!-- Preloader -->
    <div class="preloader d-flex align-items-center justify-content-center">
        <div class="lds-ellipsis">
            <div></div>
            <div></div>
            <div></div>
            <div></div>
        </div>
    </div>

    <!-- ##### Header Area Start ##### -->
    <header class="header-area">
        <!-- Navbar Area -->
        <div class="oneMusic-main-menu">
            <div class="classy-nav-container breakpoint-off">
                <div class="container">
                    <!-- Menu -->
                    <nav class="classy-navbar justify-content-between" id="oneMusicNav">

                        <!-- Nav brand -->
                        <a href="index.html" class="nav-brand" style="color: white;">Museum</a>

                        <!-- Navbar Toggler -->
                        <div class="classy-navbar-toggler">
                            <span class="navbarToggler"><span></span><span></span><span></span></span>
                        </div>

                        <!-- Menu -->
                        <div class="classy-menu">

                            <!-- Close Button -->
                            <div class="classycloseIcon">
                                <div class="cross-wrap"><span class="top"></span><span class="bottom"></span></div>
                            </div>

                            <!-- Nav Start -->
                            <div class="classynav">
                                <ul>
                                    <li><a href="#discover">Discover</a></li>
                                    <li><a href="#activities">Attività</a></li>
                                    <li><a href="#events">Eventi</a></li>
                                    <li><a href="#sponsor">Sponsor</a></li>
                                    <li><a href="#contact">Contatti</a></li>
                                </ul>
                            </div>
                            <!-- Nav End -->
                        </div>
                    </nav>
                </div>
            </div>
        </div>
    </header>
    <!-- ##### Header Area End ##### -->

    <!-- ##### Banner Start ##### -->
    <section class="hero-area">
        <div class="hero-slides owl-carousel">
            <!-- Single Hero Slide -->
            <div class="single-hero-slide d-flex align-items-center justify-content-center">
                <!-- Slide Img -->
                <div class="slide-img bg-img" style="background-image: url(file:///E:/Progetto%20modificato/museum/img/Discover2.jpg);"></div> <!-- url () -->
                <!-- Slide Content -->
                <div class="container">
                    <div class="row">
                        <div class="col-12">
                            <div class="hero-slides-content text-center">
                                <h6 data-animation="fadeInUp" data-delay="100ms">Galleria Arte Moderna</h6>
                                <h2 data-animation="fadeInUp" data-delay="300ms"> GAM <span> GAM </span></h2>
                                <a data-animation="fadeInUp" data-delay="500ms" href="#discover" class="btn oneMusic-btn mt-50">Discover <i class="fa fa-angle-double-right"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    </section>
    <!-- ##### Banner End ##### -->

    <!-- ##### Discover Area Start ##### -->
    <section id="discover" class="bg-gray section-padding-100">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="section-heading style-2">
                        <h2>Discover</h2>
                    </div>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-12 col-lg-10">
                    <div class="ablums-text text-center">
                      <p>Villa Belgiojoso viene edificata su progetto di Leopoldo Pollack tra il 1790 e il 1796 come residenza del conte Lodovico Barbiano di Belgiojoso, di ritorno a Milano dopo un'importante carriera nella diplomazia europea al servizio della casa d’Austria. Poco dopo essere stata ultimata, la Villa passa nelle mani dei Francesi divenendo anche residenza del governatore militare di Milano, Gioacchino Murat, e sontuoso scenario di pranzi e feste da ballo.</p>
                      <p>Nel 1804 è il vicepresidente della Repubblica Italiana Melzi d’Eril ad acquistare la Villa dagli eredi Belgiojoso per farne dono a Napoleone, nella cui occasione prende il nome di “Villa Bonaparte”. Nel 1806, dopo aver accolto ospiti illustri quali Camillo e Paolina Borghese e Letizia Ramolino, madre dell’Imperatore, la Villa diventa residenza della coppia vicereale formata da Eugenio di Beauharnais, figlio adottivo di Napoleone, e dalla principessa Amalia di Baviera, i quali, preferendola alla reggia, promuovono un grande intervento decorativo che interessa il piano superiore.</p>
                      <p>La vicenda della Villa, conclusa sul piano artistico, prosegue su quello storico parallelamente alla storia di Milano: residenza del maresciallo Enrico di Bellegarde all’alba della Restaurazione; luogo in cui si firma la cosiddetta “Pace di Milano” (documento con cui il 6 agosto 1849 è decretata la resa della città all’Austria nella persona del maresciallo Radetzky, poi governatore generale del regno Lombardo Veneto e a sua volta abitante della Villa, tra il 1857 e il 1858); dimora di Napoleone III. Accoglie infine il maresciallo Vaillant, comandante dell’esercito francese in Italia all’alba dell’Unità.</p>
                      <p>Dopo l’Unità la Villa viene assegnata alla Corona d’Italia ed entra in un lungo periodo di relativo abbandono. È solo grazie al passaggio al Demanio comunale, nel 1920, che si dà avvio all’importante trasformazione dell’edificio storico in sede della Galleria d’Arte Moderna di Milano, inaugurata nel 1921.</p>
                    </div>
                </div>
                <div class="col-12 col-lg-2">
                    <!-- Single Cool Facts -->
                    <div class="col-12 col-sm-6 col-lg-2">
                        <div class="single-cool-fact mb-30">
                            <div class="scf-text">
                                <h2><span class="counter">100</span></h2>
                                <p>Mostre</p>
                            </div>
                        </div>
                    </div>
                    <!-- Single Cool Facts -->
                    <div class="col-12 col-sm-6 col-lg-2">
                        <div class="single-cool-fact">
                            <div class="scf-text">
                                <h2><span class="counter">52</span></h2>
                                <p>Nuovi quadri</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ##### Discover Area End ##### -->
    <!-- ##### Activities Area Start ##### -->
    <section id="activities" class="section-padding-100">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="section-heading style-2">
                        <h2>Attività</h2>
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="browse-by-catagories catagory-menu d-flex flex-wrap align-items-center mb-70">
                            <a href="#" data-filter="*">Tutti</a>
                            <a href="#" data-filter=".bambini">Bambini</a>
                            <a href="#" data-filter=".teens">teens</a> <!-- teen-->
                            <a href="#" data-filter=".adulti">Adulti</a>
                            <a href="#" data-filter=".lis">Lis</a> <!-- lis-->
                        </div>
                    </div>
                </div>

                <div class="oneMusic-albums">
                    <div class="row single-album-item bambini" >
                        <div class="row col-12 col-lg-8">
                            <div>
                                <h3>Bambini</h3>
                                <p>La <strong>visita al museo </strong> è un’esperienza che, attraverso la scoperta e la conoscenza degli oggetti esposti, sviluppa spirito di osservazione e senso critico permettendo di dare valore al passato per comprendere meglio il presente.
                                  I Servizi Educativi del Museo conducono i visitatori di ogni età alla scoperta delle collezioni con percorsi e attività studiati in base alle specifiche esigenze di ogni categoria di pubblico.</p>
                                <p><strong>Ciclo di laboratori</strong> dove colore, movimento, abbinamenti inaspettati, le abitudini quotidiane, tutto diventa materiale d’arte (Come un incontro causale tra due o più oggetti domestici possa suggerire una combinazione cromatica insolita, Progettare piccoli (e timidi nonchè fragili) percorsi espositivi in casa, da allestire e disallestire, a basso impatto ecologico, ma ad alto coefficiente di pensiero laterale, Osservare le attività quotidiane e creare mappe e diagrammi dello spazio che ci circonda (architettura illustrata); Perché riflettere sul cibo è pensare al mondo; Come gli errori possono ispirarci e come possiamo renderli opere d’arte).</p>
                            </div>
                        </div>
                        <div class="col-12 col-lg-4 margin-auto">
                            <img src="img/bambini_al_museo.jpg" alt="">
                        </div>
                        <span class="divider"></span>
                    </div>
                    <div class="row single-album-item teens" >
                      <div class="col-12 col-lg-4 margin-auto">
                            <img src="https://source.unsplash.com/random?" alt="">
                        </div>
                        <div class="col-12 col-lg-8">
                            <div>
                                <h3 style="text-align: end;">Teens</h2>
                                <p><strong>Save the culture:</strong> progetto di game design interattivo, pensato per i musei, si basa su Interactive Culture Experience, una piattaforma progettata e sviluppata da Heritage per la gamification user-oriented di contenuti culturali. Il gioco vuole coinvolgere il grande pubblico facendolo interagire con i contenuti di musei presenti sul territorio nazionale, con l’obiettivo di scoprire o riscoprire la ricchezza delle proprie collezioni. Il gioco è semplice, ma coinvolgente: si tratta di aiutare Beppe, il vecchio guardiano del museo di un piccolo paesino, a sconfiggere il suo nemico, OBLIV-20, che non genera sintomi visibili come il fratello COVID-19, ma agisce sulle menti e sui cuori cancellando la memoria delle cose belle e facendo rimanere tutti tristi e soli.</p>
                                <p><strong>Il Grand Tour:</strong>vuole essere uno strumento per guardare con più attenzione e per fi ssare nero su bianco il tuo ricordo dei dipinti esposti in Pinacoteca.
                                Il Grand Tour, ovvero il giro delle principali città e zone d’interesse artistico e culturale europee nel Seicento e nel Settecento, era parte essenziale dell’educazione dei
                                giovani di buona famiglia e della formazione degli artisti. I viaggiatori portavano spesso con loro diari o taccuini in cui riportavano ricordi e annotazioni su colori, rifl essioni e sensazioni, riempiendo le pagine di schizzi e
                                appunti! L’Italia, con le sue famose città d’arte, il clima e il paesaggio, era indicata come meta fondamentale. E tu oggi, passeggiando per le sale della Pinacoteca di
                                Brera, allestite in ordine cronologico e divise per aree geografi che, potrai immedesimarti in uno di quei viaggiatori.</p>
                            </div>
                        </div>
                        <span class="divider"></span>
                    </div>
                    <div class="row single-album-item adulti" >
                        <div class="row col-12 col-lg-8">
                            <div>
                                <h3>Adulti</h2>
                                <p><strong> Cosa fanno i genitori durante la giornata per le famiglie:</strong> Gli adulti, mentre i bambini effettuano il laboratorio, visitano con le guide del museo, il Civico Museo del Cavallino della Giara e l’ex convento dei Frati Osservanti. La prima parte della giornata si conclude con la visita al PARC e il pranzo tutti insieme.
                                  Il pranzo può essere al sacco, presso uno dei punti adatti ai pic nic, quale il giardino dell’ex convento o sotto gli olivi del PARC.
                                  Nel caso si preferisca il pranzo seduti comodamente in una sala ristorante, è possibile prenotare presso l’Agriturismo Cuaddus e Tellas.
                                </p>
                                <p><strong> Passeggiata con i bambini al Parco della Giara: </strong>Il pomeriggio, tutti insieme, concludiamo il percorso con una passeggiata al Parco della Giara alla ricerca dei cavallini selvatici e sgranchirci le gambe all’aria aperta.
                                  La passeggiata al Parco della Giara è guidata e prevede un percorso idoneo alle esigenze di una famiglia con bambini. Il percorso è semplice e in alcuni casi è possibile effettuarlo in vettura, oppure si raggiunge il punto panoramico e poi si prosegue a piedi per itinerari che partono dalla distanza di un kilometro fino 3 o 4 km.
                                  Il percorso si adatta alle vostre esigenze e orari, solitamente l’inizio alle ore 10.00 è l’ideale per completare in tranquillità tutto il percorso. Oppure, il primo pomeriggio per terminare prima dell’orario di chiusura.
                                </p>
                                <p><strong> Università:</strong> sono previsti per i docenti e le universita dei percorsi con maggiori approfondimenti, per garantire uno studio adeguato del museo, tutto il materiale è disponibile nel PDF </p>
                            </div>
                        </div>
                        <div class="col-12 col-lg-4 margin-auto">
                            <img src="img/famiglie_al_museo1.jpg" alt="">
                        </div>
                        <span class="divider"></span>
                    </div>
                    <div class="row single-album-item lis" >
                      <div class="col-12 col-lg-4 margin-auto">
                            <img src="img/lis.jpg" alt="">
                        </div>
                        <div class="col-12 col-lg-8">
                            <div>
                                <h3 style="text-align: end;">Lis</h2>
                                <p>Una serie di video per illustrare l'arte alle persone sorde
                                  Il nuovo progetto, realizzato insieme all’Ente Nazionale Sordi e presentato alla vigilia della Giornata Internazionale dei Diritti delle Persone con Disabilità. Rivedi la diretta su Facebook della presentazione.</p>
                                <p>Il direttore delle Gallerie degli Uffizi Eike Schmidt: “Tutti dobbiamo avere pari opportunità di accesso alla cultura, e dunque anche ai musei e ai loro contenuti. Applicare questo diritto è uno dei principali obiettivi delle Gallerie degli Uffizi, così come dell’Ente Nazionale Sordi con cui abbiamo proficuamente lavorato a questo progetto: esso intende garantire la piena accessibilità alle persone sorde nel rispetto dell’articolo 9 della Convenzione delle    Nazioni Unite sui diritti delle persone con disabilità”.
                                  Il Presidente dell’Ente Nazionale Sordi Giuseppe Petrucci: “Si tratta di una iniziativa fondamentale, quello dell’arte e della cultura è un mondo dinamico e sensibile nel nostro Paese e ora, in virtù di una reale cultura dell’accessibilità, le Gallerie degli Uffizi avvicinano le persone sorde al nostro patrimonio culturale. L’ENS da anni è attento a progetti di valorizzazione e fruibilità culturale – come ‘MAPS. Musei Accessibili per le Persone Sorde’ e ‘AccessIbItaly’ – e siamo veramente lieti e orgogliosi che, anche in questo periodo difficile e complesso, aumentino le iniziative per una sempre migliore inclusione sociale delle persone sorde”.</p>
                                <p>Nam tristique ex vel magna tincidunt, ut porta nisl finibus. Vivamus eu dolor eu quam varius rutrum. Fusce nec justo id sem aliquam fringilla nec non lacus. Suspendisse eget lobortis nisi, ac cursus odio. Vivamus nibh velit, rutrum at ipsum ac, dignissim iaculis ante. Donec in velit non elit pulvinar pellentesque et non eros.</p>
                            </div>
                        </div>
                        <span class="divider"></span>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ##### Activities Area End ##### -->
    <!-- ##### Events Area Start ##### -->
    <section id="events" class="bg-gray section-padding-100">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <div class="section-heading style-2">
                        <h2>Eventi</h2>
                    </div>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-12 col-lg-9">
                    <div class="ablums-text text-center mb-70">
                        <ul id="filters" class="list-inline">
                            <li data-filter="all" class="filter active">Tutti</li>
                            <li data-filter=".mostre" class="filter">Mostre</li>
                            <li data-filter=".tour" class="filter">Tour</li>
                        </ul>
                    </div>
                    <p> la galleria di Arte moderna a Milano, oltre ad avere due importaniti collezioni, offre la possibilità di partecipare a numerose <strong>mostre</strong> ed eventi, come i <strong>concerti</strong> e <strong>conferenze</strong>.</p>

                </div>
            </div>
            <div class="row">
                <div class="container-portfolio">
                <!-- PORTFOLIO OBJECT -->
                <script type="text/javascript">
                var portfolio = [
                        {
                        category : "mostre",
                        image : "img/eventi/boldrini_1.jpg",
                        title : "<span>Boldini. Ritratto di signora</span>",
                        link : "#none",
                        text : "Voto <span class=\"fa fa-star checked\"></span><span class=\"fa fa-star checked\"></span><span class=\"fa fa-star checked\"></span><span class=\"fa fa-star checked\"></span><span class=\"fa fa-star checked\"></span><br>Servizi<br><span class=\"fa fa-coffee\"></span> <span class=\"fa fa-camera\"></span> <span class=\"fa fa-wheelchair\"></span><span class=\"fa fa-shopping-bag\"></span>"
                        },
                        {
                        category : "mostre",
                        image : "img/eventi/100_anni.png",
                        title : "<span>100 ANNI. SCULTURA A MILANO </span>",
                        link : "#none",
                        text : "Voto <span class=\"fa fa-star checked\"></span><span class=\"fa fa-star checked\"></span><span class=\"fa fa-star checked\"></span><span class=\"fa fa-star \"></span><span class=\"fa fa-star\"></span><br>Servizi<br><span class=\"fa fa-coffee\"></span> <span class=\"fa fa-camera\"></span> <span class=\"fa fa-wheelchair\"></span><span class=\"fa fa-shopping-bag\"></span>"
                        },
                        {
                        category : "mostre",
                        image : "img/eventi/doppia_firma.png",
                        title : "<span> DOPPIA FIRMA</span>",
                        link : "#none",
                        text : "Voto <span class=\"fa fa-star checked\"></span><span class=\"fa fa-star checked\"></span><span class=\"fa fa-star checked\"></span><span class=\"fa fa-star checked\"></span><span class=\"fa fa-star\"></span><br>Servizi<br><span class=\"fa fa-coffee\"></span> <span class=\"fa fa-camera\"></span> <span class=\"fa fa-wheelchair\"></span><span class=\"fa fa-shopping-bag\"></span>"
                        },
                        {
                        category : "mostre",
                        image : "img/eventi/sottosopra.png",
                        title : "<span>SOTTOSOPRA </span>",
                        link : "#none",
                        text : "Voto <span class=\"fa fa-star checked\"></span><span class=\"fa fa-star checked\"></span><span class=\"fa fa-star checked\"></span><span class=\"fa fa-star checked\"></span><span class=\"fa fa-star checked\"></span><br>Servizi<br><span class=\"fa fa-coffee\"></span> <span class=\"fa fa-camera\"></span> <span class=\"fa fa-wheelchair\"></span><span class=\"fa fa-shopping-bag\"></span>"
                        },
                        {
                        category : "mostre",
                        image : "img/eventi/finestra_sul_cortile_1.jpg",
                        title : "<span>LA FINESTRA SUL CORTILE</span>",
                        link : "#none",
                        text : "Voto <span class=\"fa fa-star checked\"></span><span class=\"fa fa-star checked\"></span><span class=\"fa fa-star \"></span><span class=\"fa fa-star\"></span><span class=\"fa fa-star\"></span><br>Servizi<br><span class=\"fa fa-coffee\"></span> <span class=\"fa fa-camera\"></span> <span class=\"fa fa-wheelchair\"></span><span class=\"fa fa-shopping-bag\"></span>"
                        },
                        {
                        category : "tour",
                        image : "img/eventi/meravigliose.jpg",
                        title : "<span>Meravigliose</span>",
                        link : "#none",
                        text : "Voto <span class=\"fa fa-star checked\"></span><span class=\"fa fa-star checked\"></span><span class=\"fa fa-star checked\"></span><span class=\"fa fa-star checked\"></span><span class=\"fa fa-star\"></span><br>Servizi<br><span class=\"fa fa-coffee\"></span> <span class=\"fa fa-camera\"></span> <span class=\"fa fa-wheelchair\"></span><span class=\"fa fa-shopping-bag\"></span>"
                        },
                        {
                        category : "tour",
                        image : "img/eventi/pensare_con_le_mani1.jpg",
                        title : "<span>pensare con le mani</span>",
                        link : "#none",
                        text : "Voto <span class=\"fa fa-star checked\"></span><span class=\"fa fa-star checked\"></span><span class=\"fa fa-star checked\"></span><span class=\"fa fa-star \"></span><span class=\"fa fa-star\"></span><br>Servizi<br><span class=\"fa fa-coffee\"></span> <span class=\"fa fa-camera\"></span> <span class=\"fa fa-wheelchair\"></span><span class=\"fa fa-shopping-bag\"></span>"
                        },
                        {
                        category : "tour",
                        image : "img/eventi/volti_ideali.jpg",
                        title : "<span>voltiideali</span>",
                        link : "#none",
                        text : "Voto <span class=\"fa fa-star checked\"></span><span class=\"fa fa-star checked\"></span><span class=\"fa fa-star checked\"></span><span class=\"fa fa-star checked\"></span><span class=\"fa fa-star \"></span><br>Servizi<br><span class=\"fa fa-coffee\"></span> <span class=\"fa fa-camera\"></span> <span class=\"fa fa-wheelchair\"></span><span class=\"fa fa-shopping-bag\"></span>"
                        }
                    ];
                </script>
              </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <div style="text-align: center" class="style-2">
                      <h3>Strumenti</h3>
                      <div class="row">
                        <div class="col-4">
                          <p>Scarica il pdf <span class="fa fa-arrow-circle-down"></span></p>
                          <a href="files/Mappa_Palazzo_Ducale.pdf" target="_blank">
                            <img height="200" width="200" src="img/palazzo_ducale.png">
                          </a>
                          <p>Mappa Palazzo Ducale</p>
                        </div>
                        <div class="col-4">
                          <p>Scarica il pdf <span class="fa fa-arrow-circle-down"></span></p>
                          <a href="img/CartolineColoriVenutiDaLontano.jpg" target="_blank">
                            <img width="250" src="img/venuti_da_lontano.png">
                          </a>
                          <p>Colori venuti da lontano</p>
                        </div>
                        <div class="col-4">
                          <p>Scarica il pdf <span class="fa fa-arrow-circle-down"></span></p>
                          <a href="files/Mappa_Louvre.pdf" target="_blank">
                            <img width="250" src="img/louvre.png">
                          </a>
                          <p>Mappa Louvre</p>
                        </div>
                      </div>
                    </div>
                </div>
            </div>
        </div>

    </section>
    <!-- ##### Events Area End ##### -->
    <!-- ##### Sponsor Area Start ##### -->
    <section id="sponsor" class="section-padding-100">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <div class="section-heading style-2">
                        <h2>Sponsor</h2>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-12">
                    <div class="albums-slideshow owl-carousel">
                        <!-- Single Album -->
                        <div class="single-sponsor">
                            <img src="img/brera_logo.jpg" alt="">
                            <div class="album-info">
                                <a href="#">
                                    <h5>Pinacoteca di Brera</h5>
                                </a>
                                <p>Milano</p>
                            </div>
                        </div>

                       <!-- Single Album -->
                       <div class="single-sponsor">
                            <img src="img/GAM-logo.png" alt="">
                            <div class="album-info">
                                <a href="#">
                                    <h5>Galleria di Arte Moderna</h5>
                                </a>
                                <p>Milano</p>
                            </div>
                        </div>
                        <!-- Single Album -->
                        <div class="single-sponsor">
                            <img src="img/uffizi_logo.gif" alt="">
                            <div class="album-info">
                                <a href="#">
                                    <h5>Galleria degli Uffizi</h5>
                                </a>
                                <p>Firenze</p>
                            </div>
                        </div>

                        <!-- Single Album -->
                        <div class="single-sponsor">
                            <img src="img/louvre_logo.jpg" alt="">
                            <div class="album-info">
                                <a href="#">
                                    <h5> Musée du Louvre</h5>
                                </a>
                                <p>Parigi</p>
                            </div>
                        </div>
                        <!-- Single Album -->
                        <div class="single-sponsor">
                            <img src="img/logo_parc.png" alt="">
                            <div class="album-info">
                                <a href="#">
                                    <h5> Museo Archeologico e Paleontologico</h5>
                                </a>
                                <p>Genoni</p>
                            </div>
                        </div>
                                                <!-- Single Album -->
                        <div class="single-sponsor">
                            <img src="img/museo_egizio_logo.jpg" alt="">
                            <div class="album-info">
                                <a href="#">
                                <h5>Museo Egizio</h5>
                                </a>
                                <p>Torino</p>
                            </div>
                        </div>
                        <!-- Single Album -->
                        <div class="single-sponsor">
                            <img src="img/logo.png" alt="">
                            <div class="album-info">
                                <a href="#">
                                <h5>Palazzo Ducale</h5>
                                </a>
                                <p>Complesso museale di Mantova</p>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ##### Sponsor Area End ##### -->

    <!-- ##### Contact Area Start ##### -->
    <section id="contact" class="bg-gray section-padding-100">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="section-heading style-2">
                        <h2>Contatti</h2>
                    </div>
                </div>
            </div>
            <div class="row">

                <div class="col-12 col-lg-3">
                    <div class="contact-content mb-100">
                        <!-- Title -->
                        <div class="contact-title mb-50">
                            <h5>Contact Info</h5>
                        </div>

                        <!-- Single Contact Info -->
                        <div class="single-contact-info d-flex align-items-center">
                            <div class="icon mr-30">
                                <span class="icon-placeholder"></span>
                            </div>
                            <p>Via Palestro 16 - 20121 Milano</p>
                        </div>

                        <!-- Single Contact Info -->
                        <div class="single-contact-info d-flex align-items-center">
                            <div class="icon mr-30">
                                <span class="icon-smartphone"></span>
                            </div>
                            <p>02 884.45943 (biglietteria) </p>
                        </div>

                        <!-- Single Contact Info -->
                        <div class="single-contact-info d-flex align-items-center">
                            <div class="icon mr-30">
                                <span class="icon-mail"></span>
                            </div>
                            <p>  c.gam@comune.milano.it</p>
                        </div>

                        <!-- Contact Social Info -->
                        <div class="contact-social-info mt-50">
                            <a href="#" data-toggle="tooltip" data-placement="top" title="Pinterest"><i class="fa fa-pinterest" aria-hidden="true"></i></a>
                            <a href="#" data-toggle="tooltip" data-placement="top" title="Facebook"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                            <a href="#" data-toggle="tooltip" data-placement="top" title="Twitter"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                            <a href="#" data-toggle="tooltip" data-placement="top" title="Dribbble"><i class="fa fa-dribbble" aria-hidden="true"></i></a>
                            <a href="#" data-toggle="tooltip" data-placement="top" title="Behance"><i class="fa fa-behance" aria-hidden="true"></i></a>
                            <a href="#" data-toggle="tooltip" data-placement="top" title="Linkedin"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
                        </div>

                    </div>
                </div>

                <div class="col-12 col-lg-9">
                    <!-- ##### Google Maps ##### -->
                    <div class="map-area mb-100">
                        <iframe src="https://maps.google.com/maps?q=louvre%20museum&t=&z=13&ie=UTF8&iwloc=&output=embed" allowfullscreen></iframe>
                    </div>
                </div>

            </div>
        </div>
    </section>
    <!-- ##### Contact Area End ##### -->

    <!-- ##### Footer Area Start ##### -->
    <footer class="footer-area">
        <div class="container">
            <div class="row d-flex flex-wrap align-items-center">
                <div class="col-12 col-md-6">
                    <a href="index.html" class="nav-brand" style="color: white;">Museum</a>
                    <p class="copywrite-text">Contatti</p>
                </div>

                <div class="col-12 col-md-6">
                    <div class="footer-nav">
                        <ul>
                            <li><a href="#discover">Discover</a></li>
                            <li><a href="#activities">Attività</a></li>
                            <li><a href="#events">Eventi</a></li>
                            <li><a href="#sponsor">Sponsor</a></li>
                            <li><a href="#contact">Contatti</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- ##### Footer Area Start ##### -->

    <!-- ##### All Javascript Script ##### -->
    <!-- jQuery-2.2.4 js -->
    <script src="js/jquery/jquery-2.2.4.min.js"></script>
    <!-- Popper js -->
    <script src="js/bootstrap/popper.min.js"></script>
    <!-- Bootstrap js -->
    <script src="js/bootstrap/bootstrap.min.js"></script>
    <!-- All Plugins js -->
    <script src="js/plugins/plugins.js"></script>
    <!-- Active js -->
    <script src="js/active.js"></script>

</body>

</html>
